<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <h6 class="text-white">Project 1000 programmers | 2023</h6>
        </div>
        <div class="contact-details">
          <p>Syria - Idlib - Street 50</p>
          <p>Phone: +352681507403</p>

          <ul class="social-menu">
            <li class="list-inline-item"><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://whatsapp.com/"><i class="fa fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023. All rights reserved. </p>
        </div>
        <div class="col-md-6 text-right">
          <p> By Ahmad Abdul Hafez </p>
          
        </div>
      </div>
    </div>
  </div>
</footer>